# Joins and Linear Algebra

In [14]:
!pip install pandas numpy

Requirement already satisfied: pandas in ./.venv/lib/python3.10/site-packages (2.3.3)
Requirement already satisfied: numpy in ./.venv/lib/python3.10/site-packages (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.10/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [15]:
import pandas as pd
import numpy as np

In [16]:
patients = pd.read_csv("data/patients.csv")
appointments = pd.read_csv("data/appointments.csv")

appointments.head()

,appointment_id,patient_id,doctor_name,appointment_date,appointment_time,reason,status
0,5001,1001,Dr. Smith,2026-02-01,09:00,Annual Physical,Completed
1,5002,1002,Dr. Smith,2026-02-01,10:00,Flu Symptoms,Completed
2,5003,1001,Dr. Lee,2026-02-15,14:30,Follow-up,Scheduled
3,5004,1003,Dr. Patel,2026-02-10,11:15,Blood Pressure,Completed
4,5005,1004,Dr. Smith,2026-02-18,16:00,Back Pain,Scheduled

In [17]:
patients.head()

   patient_id first_name last_name date_of_birth         phone      city
0        1001      Avery    Nguyen    1990-04-12  206-555-0143   Seattle
1        1002     Jordan    Rivera    1985-09-23  206-555-0198  Bellevue
2        1003      Samir     Patel    1978-01-30  425-555-0111   Redmond
3        1004      Elena    Garcia    2001-07-15  206-555-0177   Seattle
4        1005     Marcus   Johnson    1995-11-02  253-555-0182    Tacoma

## Inner Join
![Inner join](images/inner_join.png)
- Combines rows from two tables using a related column (called a key)
- Returns only rows where a match exists in both tables
  - Example: If you join two tables on a date column, only rows where the date appears in both tables are included
- Excludes any rows that do not have a matching value in the other table

In [27]:
patients_appointments = pd.merge(patients, appointments, on='patient_id', how="inner")
patients_appointments.head(10)

,patient_id,first_name,last_name,date_of_birth,phone,city,appointment_id,doctor_name,appointment_date,appointment_time,reason,status
0,1001,Avery,Nguyen,1990-04-12,206-555-0143,Seattle,5001,Dr. Smith,2026-02-01,09:00,Annual Physical,Completed
1,1001,Avery,Nguyen,1990-04-12,206-555-0143,Seattle,5003,Dr. Lee,2026-02-15,14:30,Follow-up,Scheduled
2,1002,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue,5002,Dr. Smith,2026-02-01,10:00,Flu Symptoms,Completed
3,1002,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue,5006,Dr. Lee,2026-02-20,13:00,Lab Results,Scheduled
4,1003,Samir,Patel,1978-01-30,425-555-0111,Redmond,5004,Dr. Patel,2026-02-10,11:15,Blood Pressure,Completed
5,1004,Elena,Garcia,2001-07-15,206-555-0177,Seattle,5005,Dr. Smith,2026-02-18,16:00,Back Pain,Scheduled
6,1006,Linh,Tran,1988-03-19,206-555-0125,Seattle,5007,Dr. Patel,2026-02-22,15:45,Headache,Cancelled

In [26]:
for idx, row in patients.iterrows():
  if row["patient_id"] not in patients_appointments["patient_id"].values:
      print(row["first_name"])

Marcus
Riley
Fatima
Noah
Isabella
Ethan
Amara
Lucas

In [29]:
for idx, row in appointments.iterrows():
  if row["patient_id"] not in patients_appointments["patient_id"].values:
      print(row["appointment_id"])

5008

## Your Turn! Inner Join

- Load the Student and Enrollment CSV files into pandas DataFrames
- Inspect both tables and identify the column they have in common
- Create an inner join between the two tables using that column
- Display the result and observe which rows were included and which were excluded

# Right Join
![Left Join](images/left_join.png)
- Returns all records from the left table
- Only shows matching rows from the right table
- Displays None where there is no matching row in the right table

In [ ]:
#Patients is the left 
patients_left_join = pd.merge(patients, appointments, on='patient_id', how="left")
patients_left_join.head(20)

,patient_id,first_name,last_name,date_of_birth,phone,city,appointment_id,doctor_name,appointment_date,appointment_time,reason,status
0,1001,Avery,Nguyen,1990-04-12,206-555-0143,Seattle,5001.0,Dr. Smith,2026-02-01,09:00,Annual Physical,Completed
1,1001,Avery,Nguyen,1990-04-12,206-555-0143,Seattle,5003.0,Dr. Lee,2026-02-15,14:30,Follow-up,Scheduled
2,1002,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue,5002.0,Dr. Smith,2026-02-01,10:00,Flu Symptoms,Completed
3,1002,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue,5006.0,Dr. Lee,2026-02-20,13:00,Lab Results,Scheduled
4,1003,Samir,Patel,1978-01-30,425-555-0111,Redmond,5004.0,Dr. Patel,2026-02-10,11:15,Blood Pressure,Completed
5,1004,Elena,Garcia,2001-07-15,206-555-0177,Seattle,5005.0,Dr. Smith,2026-02-18,16:00,Back Pain,Scheduled
6,1005,Marcus,Johnson,1995-11-02,253-555-0182,Tacoma,NaN,NaN,NaN,NaN,NaN,NaN
7,1006,Linh,Tran,1988-03-19,206-555-0125,Seattle,5007.0,Dr. Patel,2026-02-22,15:45,Headache,Cancelled
8,1007,Riley,Chen,1992-06-08,425-555-0166,Kirkland,NaN,NaN,NaN,NaN,NaN,NaN
9,1008,Fatima,Hassan,1983-12-01,206-555-0139,Seattle,NaN,NaN,NaN,NaN,NaN,NaN
10,10010,Noah,Williams,1991-05-14,206-555-0211,Seattle,NaN,NaN,NaN,NaN,NaN,NaN
11,10011,Isabella,Rodriguez,1987-08-22,425-555-0222,Bellevue,NaN,NaN,NaN,NaN,NaN,NaN
12,10012,Ethan,Kim,1975-02-03,206-555-0233,Seattle,NaN,NaN,NaN,NaN,NaN,NaN
13,10013,Amara,Singh,1999-10-29,253-555-0244,Tacoma,NaN,NaN,NaN,NaN,NaN,NaN
14,10014,Lucas,Martinez,1982-12-17,425-555-0255,Redmond,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#appointments on the left
appointments_left_join = pd.merge(appointments, patients, on='patient_id', how="left")
appointments_left_join.head(20)

,appointment_id,patient_id,doctor_name,appointment_date,appointment_time,reason,status,first_name,last_name,date_of_birth,phone,city
0,5001,1001,Dr. Smith,2026-02-01,09:00,Annual Physical,Completed,Avery,Nguyen,1990-04-12,206-555-0143,Seattle
1,5002,1002,Dr. Smith,2026-02-01,10:00,Flu Symptoms,Completed,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue
2,5003,1001,Dr. Lee,2026-02-15,14:30,Follow-up,Scheduled,Avery,Nguyen,1990-04-12,206-555-0143,Seattle
3,5004,1003,Dr. Patel,2026-02-10,11:15,Blood Pressure,Completed,Samir,Patel,1978-01-30,425-555-0111,Redmond
4,5005,1004,Dr. Smith,2026-02-18,16:00,Back Pain,Scheduled,Elena,Garcia,2001-07-15,206-555-0177,Seattle
5,5006,1002,Dr. Lee,2026-02-20,13:00,Lab Results,Scheduled,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue
6,5007,1006,Dr. Patel,2026-02-22,15:45,Headache,Cancelled,Linh,Tran,1988-03-19,206-555-0125,Seattle
7,5008,1009,Dr. Smith,2026-02-25,09:30,New Patient,Scheduled,NaN,NaN,NaN,NaN,NaN

# Right Join
![Right Join](images/right_join.png)
- Returns all records from the right table
- Only shows matching rows from the left table
- Displays NaN for right table rows without a match

In [40]:
#Patients is the right 
patients_right_join = pd.merge(appointments,patients, on='patient_id', how="right")
patients_right_join.head(20)

,appointment_id,patient_id,doctor_name,appointment_date,appointment_time,reason,status,first_name,last_name,date_of_birth,phone,city
0,5001.0,1001,Dr. Smith,2026-02-01,09:00,Annual Physical,Completed,Avery,Nguyen,1990-04-12,206-555-0143,Seattle
1,5003.0,1001,Dr. Lee,2026-02-15,14:30,Follow-up,Scheduled,Avery,Nguyen,1990-04-12,206-555-0143,Seattle
2,5002.0,1002,Dr. Smith,2026-02-01,10:00,Flu Symptoms,Completed,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue
3,5006.0,1002,Dr. Lee,2026-02-20,13:00,Lab Results,Scheduled,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue
4,5004.0,1003,Dr. Patel,2026-02-10,11:15,Blood Pressure,Completed,Samir,Patel,1978-01-30,425-555-0111,Redmond
5,5005.0,1004,Dr. Smith,2026-02-18,16:00,Back Pain,Scheduled,Elena,Garcia,2001-07-15,206-555-0177,Seattle
6,NaN,1005,NaN,NaN,NaN,NaN,NaN,Marcus,Johnson,1995-11-02,253-555-0182,Tacoma
7,5007.0,1006,Dr. Patel,2026-02-22,15:45,Headache,Cancelled,Linh,Tran,1988-03-19,206-555-0125,Seattle
8,NaN,1007,NaN,NaN,NaN,NaN,NaN,Riley,Chen,1992-06-08,425-555-0166,Kirkland
9,NaN,1008,NaN,NaN,NaN,NaN,NaN,Fatima,Hassan,1983-12-01,206-555-0139,Seattle
10,NaN,10010,NaN,NaN,NaN,NaN,NaN,Noah,Williams,1991-05-14,206-555-0211,Seattle
11,NaN,10011,NaN,NaN,NaN,NaN,NaN,Isabella,Rodriguez,1987-08-22,425-555-0222,Bellevue
12,NaN,10012,NaN,NaN,NaN,NaN,NaN,Ethan,Kim,1975-02-03,206-555-0233,Seattle
13,NaN,10013,NaN,NaN,NaN,NaN,NaN,Amara,Singh,1999-10-29,253-555-0244,Tacoma
14,NaN,10014,NaN,NaN,NaN,NaN,NaN,Lucas,Martinez,1982-12-17,425-555-0255,Redmond

In [41]:
#appointments is the right 
patients_right_join = pd.merge(patients, appointments, on='patient_id', how="right")
patients_right_join.head(20)

,patient_id,first_name,last_name,date_of_birth,phone,city,appointment_id,doctor_name,appointment_date,appointment_time,reason,status
0,1001,Avery,Nguyen,1990-04-12,206-555-0143,Seattle,5001,Dr. Smith,2026-02-01,09:00,Annual Physical,Completed
1,1002,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue,5002,Dr. Smith,2026-02-01,10:00,Flu Symptoms,Completed
2,1001,Avery,Nguyen,1990-04-12,206-555-0143,Seattle,5003,Dr. Lee,2026-02-15,14:30,Follow-up,Scheduled
3,1003,Samir,Patel,1978-01-30,425-555-0111,Redmond,5004,Dr. Patel,2026-02-10,11:15,Blood Pressure,Completed
4,1004,Elena,Garcia,2001-07-15,206-555-0177,Seattle,5005,Dr. Smith,2026-02-18,16:00,Back Pain,Scheduled
5,1002,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue,5006,Dr. Lee,2026-02-20,13:00,Lab Results,Scheduled
6,1006,Linh,Tran,1988-03-19,206-555-0125,Seattle,5007,Dr. Patel,2026-02-22,15:45,Headache,Cancelled
7,1009,NaN,NaN,NaN,NaN,NaN,5008,Dr. Smith,2026-02-25,09:30,New Patient,Scheduled

# Your Turn! Right and Left Join
- Perform a right join on enrollments and students
- Perform a left join on enrollments and students

# Outer Join
![Outer or Full Join](images/outer_join.png)
- Returns all rows
- Rows that do not match will have None for missing values

In [44]:
patients_right_join = pd.merge(patients, appointments, on='patient_id', how="outer")
patients_right_join.head(20)

,patient_id,first_name,last_name,date_of_birth,phone,city,appointment_id,doctor_name,appointment_date,appointment_time,reason,status
0,1001,Avery,Nguyen,1990-04-12,206-555-0143,Seattle,5001.0,Dr. Smith,2026-02-01,09:00,Annual Physical,Completed
1,1001,Avery,Nguyen,1990-04-12,206-555-0143,Seattle,5003.0,Dr. Lee,2026-02-15,14:30,Follow-up,Scheduled
2,1002,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue,5002.0,Dr. Smith,2026-02-01,10:00,Flu Symptoms,Completed
3,1002,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue,5006.0,Dr. Lee,2026-02-20,13:00,Lab Results,Scheduled
4,1003,Samir,Patel,1978-01-30,425-555-0111,Redmond,5004.0,Dr. Patel,2026-02-10,11:15,Blood Pressure,Completed
5,1004,Elena,Garcia,2001-07-15,206-555-0177,Seattle,5005.0,Dr. Smith,2026-02-18,16:00,Back Pain,Scheduled
6,1005,Marcus,Johnson,1995-11-02,253-555-0182,Tacoma,NaN,NaN,NaN,NaN,NaN,NaN
7,1006,Linh,Tran,1988-03-19,206-555-0125,Seattle,5007.0,Dr. Patel,2026-02-22,15:45,Headache,Cancelled
8,1007,Riley,Chen,1992-06-08,425-555-0166,Kirkland,NaN,NaN,NaN,NaN,NaN,NaN
9,1008,Fatima,Hassan,1983-12-01,206-555-0139,Seattle,NaN,NaN,NaN,NaN,NaN,NaN
10,1009,NaN,NaN,NaN,NaN,NaN,5008.0,Dr. Smith,2026-02-25,09:30,New Patient,Scheduled
11,10010,Noah,Williams,1991-05-14,206-555-0211,Seattle,NaN,NaN,NaN,NaN,NaN,NaN
12,10011,Isabella,Rodriguez,1987-08-22,425-555-0222,Bellevue,NaN,NaN,NaN,NaN,NaN,NaN
13,10012,Ethan,Kim,1975-02-03,206-555-0233,Seattle,NaN,NaN,NaN,NaN,NaN,NaN
14,10013,Amara,Singh,1999-10-29,253-555-0244,Tacoma,NaN,NaN,NaN,NaN,NaN,NaN
15,10014,Lucas,Martinez,1982-12-17,425-555-0255,Redmond,NaN,NaN,NaN,NaN,NaN,NaN

# Your Turn: Outer Join
- Create an outer Join on enrollments and students

# Concatenate vs Merge

**Merge**
- Combines two DataFrames based on columns or indexes

**Concatenate**
- Stacks DataFrames vertically or horizontally without needing a key

# Vertical Concatenation (Rows)

- Used to add more rows to an existing DataFrame
- Combines DataFrames by stacking them on top of each other
- Missing values are filled with None if a column exists in only one DataFrame

In [48]:
patients2 = pd.DataFrame({
    "patient_id": [1015, 1016, 1017, 1018, 1019],
    "first_name": ["Daniel", "Sofia", "Malik", "Hannah", "Victor"],
    "last_name": ["Lopez", "Anderson", "Brown", "Kim", "Alvarez"],
    "date_of_birth": ["1989-02-14", "1993-07-22", "1976-11-05", "2000-01-30", "1984-09-18"],
    "phone": [
        "206-555-0311",
        "425-555-0322",
        "253-555-0333",
        "206-555-0344",
        "425-555-0355"
    ],
    "city": ["Seattle", "Bellevue", "Tacoma", "Seattle", "Redmond"]
})
vertical_concat = pd.concat([patients, patients2], axis=0, ignore_index=True)
vertical_concat

    patient_id first_name  last_name date_of_birth         phone      city
0         1001      Avery     Nguyen    1990-04-12  206-555-0143   Seattle
1         1002     Jordan     Rivera    1985-09-23  206-555-0198  Bellevue
2         1003      Samir      Patel    1978-01-30  425-555-0111   Redmond
3         1004      Elena     Garcia    2001-07-15  206-555-0177   Seattle
4         1005     Marcus    Johnson    1995-11-02  253-555-0182    Tacoma
5         1006       Linh       Tran    1988-03-19  206-555-0125   Seattle
6         1007      Riley       Chen    1992-06-08  425-555-0166  Kirkland
7         1008     Fatima     Hassan    1983-12-01  206-555-0139   Seattle
8        10010       Noah   Williams    1991-05-14  206-555-0211   Seattle
9        10011   Isabella  Rodriguez    1987-08-22  425-555-0222  Bellevue
10       10012      Ethan        Kim    1975-02-03  206-555-0233   Seattle
11       10013      Amara      Singh    1999-10-29  253-555-0244    Tacoma
12       10014      Lucas   Martinez    1982-12-17  425-555-0255   Redmond
13        1015     Daniel      Lopez    1989-02-14  206-555-0311   Seattle
14        1016      Sofia   Anderson    1993-07-22  425-555-0322  Bellevue
15        1017      Malik      Brown    1976-11-05  253-555-0333    Tacoma
16        1018     Hannah        Kim    2000-01-30  206-555-0344   Seattle
17        1019     Victor    Alvarez    1984-09-18  425-555-0355   Redmond

In [49]:
# What if there's different features?
patients2 = pd.DataFrame({
    "patient_id": [1015, 1016, 1017, 1018, 1019],
    "first_name": ["Daniel", "Sofia", "Malik", "Hannah", "Victor"],
    "last_name": ["Lopez", "Anderson", "Brown", "Kim", "Alvarez"],
    "date_of_birth": ["1989-02-14", "1993-07-22", "1976-11-05", "2000-01-30", "1984-09-18"],
    "phone": [
        "206-555-0311",
        "425-555-0322",
        "253-555-0333",
        "206-555-0344",
        "425-555-0355"
    ],
    "city": ["Seattle", "Bellevue", "Tacoma", "Seattle", "Redmond"],
    "insurance_provider": [
        "Premera",
        "Kaiser Permanente",
        "Regence",
        "Aetna",
        "Cigna"
    ]
})
vertical_concat2 = pd.concat([patients, patients2], axis=0, ignore_index=True)
vertical_concat2

,patient_id,first_name,last_name,date_of_birth,phone,city,insurance_provider
0,1001,Avery,Nguyen,1990-04-12,206-555-0143,Seattle,NaN
1,1002,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue,NaN
2,1003,Samir,Patel,1978-01-30,425-555-0111,Redmond,NaN
3,1004,Elena,Garcia,2001-07-15,206-555-0177,Seattle,NaN
4,1005,Marcus,Johnson,1995-11-02,253-555-0182,Tacoma,NaN
5,1006,Linh,Tran,1988-03-19,206-555-0125,Seattle,NaN
6,1007,Riley,Chen,1992-06-08,425-555-0166,Kirkland,NaN
7,1008,Fatima,Hassan,1983-12-01,206-555-0139,Seattle,NaN
8,10010,Noah,Williams,1991-05-14,206-555-0211,Seattle,NaN
9,10011,Isabella,Rodriguez,1987-08-22,425-555-0222,Bellevue,NaN
10,10012,Ethan,Kim,1975-02-03,206-555-0233,Seattle,NaN
11,10013,Amara,Singh,1999-10-29,253-555-0244,Tacoma,NaN
12,10014,Lucas,Martinez,1982-12-17,425-555-0255,Redmond,NaN
13,1015,Daniel,Lopez,1989-02-14,206-555-0311,Seattle,Premera
14,1016,Sofia,Anderson,1993-07-22,425-555-0322,Bellevue,Kaiser Permanente
15,1017,Malik,Brown,1976-11-05,253-555-0333,Tacoma,Regence
16,1018,Hannah,Kim,2000-01-30,206-555-0344,Seattle,Aetna
17,1019,Victor,Alvarez,1984-09-18,425-555-0355,Redmond,Cigna

# Horizontal Concatenation (Columns)
- Adds additional columns (features) to an existing DataFrame
- Combines DataFrames side-by-side
- Rows are aligned based on their index position

In [55]:
horizontal_concat = pd.concat([patients, appointments], axis=1)
horizontal_concat

,patient_id,first_name,last_name,date_of_birth,phone,city,appointment_id,patient_id,doctor_name,appointment_date,appointment_time,reason,status
0,1001,Avery,Nguyen,1990-04-12,206-555-0143,Seattle,5001.0,1001.0,Dr. Smith,2026-02-01,09:00,Annual Physical,Completed
1,1002,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue,5002.0,1002.0,Dr. Smith,2026-02-01,10:00,Flu Symptoms,Completed
2,1003,Samir,Patel,1978-01-30,425-555-0111,Redmond,5003.0,1001.0,Dr. Lee,2026-02-15,14:30,Follow-up,Scheduled
3,1004,Elena,Garcia,2001-07-15,206-555-0177,Seattle,5004.0,1003.0,Dr. Patel,2026-02-10,11:15,Blood Pressure,Completed
4,1005,Marcus,Johnson,1995-11-02,253-555-0182,Tacoma,5005.0,1004.0,Dr. Smith,2026-02-18,16:00,Back Pain,Scheduled
5,1006,Linh,Tran,1988-03-19,206-555-0125,Seattle,5006.0,1002.0,Dr. Lee,2026-02-20,13:00,Lab Results,Scheduled
6,1007,Riley,Chen,1992-06-08,425-555-0166,Kirkland,5007.0,1006.0,Dr. Patel,2026-02-22,15:45,Headache,Cancelled
7,1008,Fatima,Hassan,1983-12-01,206-555-0139,Seattle,5008.0,1009.0,Dr. Smith,2026-02-25,09:30,New Patient,Scheduled
8,10010,Noah,Williams,1991-05-14,206-555-0211,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10011,Isabella,Rodriguez,1987-08-22,425-555-0222,Bellevue,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10012,Ethan,Kim,1975-02-03,206-555-0233,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10013,Amara,Singh,1999-10-29,253-555-0244,Tacoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10014,Lucas,Martinez,1982-12-17,425-555-0255,Redmond,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
#Will create duplicate features
horizontal_concat2 = pd.concat([patients, patients2], axis=1)
horizontal_concat2

,patient_id,first_name,last_name,date_of_birth,phone,city,patient_id,first_name,last_name,date_of_birth,phone,city,insurance_provider
0,1001,Avery,Nguyen,1990-04-12,206-555-0143,Seattle,1015.0,Daniel,Lopez,1989-02-14,206-555-0311,Seattle,Premera
1,1002,Jordan,Rivera,1985-09-23,206-555-0198,Bellevue,1016.0,Sofia,Anderson,1993-07-22,425-555-0322,Bellevue,Kaiser Permanente
2,1003,Samir,Patel,1978-01-30,425-555-0111,Redmond,1017.0,Malik,Brown,1976-11-05,253-555-0333,Tacoma,Regence
3,1004,Elena,Garcia,2001-07-15,206-555-0177,Seattle,1018.0,Hannah,Kim,2000-01-30,206-555-0344,Seattle,Aetna
4,1005,Marcus,Johnson,1995-11-02,253-555-0182,Tacoma,1019.0,Victor,Alvarez,1984-09-18,425-555-0355,Redmond,Cigna
5,1006,Linh,Tran,1988-03-19,206-555-0125,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1007,Riley,Chen,1992-06-08,425-555-0166,Kirkland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1008,Fatima,Hassan,1983-12-01,206-555-0139,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10010,Noah,Williams,1991-05-14,206-555-0211,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10011,Isabella,Rodriguez,1987-08-22,425-555-0222,Bellevue,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10012,Ethan,Kim,1975-02-03,206-555-0233,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10013,Amara,Singh,1999-10-29,253-555-0244,Tacoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10014,Lucas,Martinez,1982-12-17,425-555-0255,Redmond,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Your Turn! Concatenation
- You are given a new dataframe students2
- Inspect the `students` and `students2` DataFrames
- Identify which column exists in `students2` but not in `students`
- Vertically concatenate the two DataFrames and store the result in a new variable called `all_students`
- Display `all_students`
- Horizontally concatenate the `students` and `enrollment` DataFrames and store the result in a variable called `horizontal_concat`
- Display `horizontal_concat`

In [54]:
students2 = pd.DataFrame({
    "student_id": [2013, 2014, 2015, 2016],
    "first_name": ["Diego", "Priya", "Ethan", "Maya"],
    "last_name": ["Santos", "Sharma", "Collins", "Desai"],
    "email": [
        "diego.santos@example.edu",
        "priya.sharma@example.edu",
        "ethan.collins@example.edu",
        "maya.desai@example.edu"
    ],
    "program": ["Computer Science", "Data Science", "Cybersecurity", "Information Technology"],
    "start_year": [2025, 2025, 2026, 2026],
    "gpa": [3.6, 3.9, 3.4, 3.8]
})

students2

,student_id,first_name,last_name,email,program,start_year,gpa
0,2013,Diego,Santos,diego.santos@example.edu,Computer Science,2025,3.6
1,2014,Priya,Sharma,priya.sharma@example.edu,Data Science,2025,3.9
2,2015,Ethan,Collins,ethan.collins@example.edu,Cybersecurity,2026,3.4
3,2016,Maya,Desai,maya.desai@example.edu,Information Technology,2026,3.8

### Column Space  
All possible linear combinations of the columns of a matrix.

In other words, the column space is every output you can create by scaling and adding the columns together.

---

### Rank  
- Rank is a nonnegative integer (0, 1, 2, ).  
- Each matrix has exactly one rank.  
- Rank tells you how many independent columns (or rows) the matrix has.  
- This also tells you the dimension of the column space.

---

### What does $A \in \mathbb{R}^{4 \times 3}$ Mean?
- 4x3 matrix 

### What does rank 3 Mean?
- Means that the 3 columns are independent 
- You can't create one column from combining the others 

### What does $v \in C(A)$ mean?

- $C(A)$: the column space of matrix A, meaning all possible outputs that can be created from the columns of A  
- $\in$: means "is an element of" or "belongs to"  
- $v$: the output vector  

So $v \in C(A)$ means the vector **v can be created by combining the columns of A**.

---

### What's the point of this?

This tells us whether a linear regression model can actually produce a given output.

Linear regression works by combining the columns of A (the features) with weights. If the real output vector is in the column space of A, then the model can produce it exactly. If it is not in the column space, then the model cannot produce it exactly, and there will always be some error.

In other words:  
**Can the real output be created by combining the features?**
Let's say you are trying to predict whether years of experience and level of education can accurately predict salary.

v represents the actual salaries (the real info from the data).

C(A) represents all possible salary predictions the model can produce using only years of experience and education.

If a real salary v is in C(A), then the model can predict it exactly.
If it is not in C(A), then the model can only approximate it.

In [ ]:
# NumPy to the rescue!
# Using NumPy linear algebra methods
# np.linalg.matrix_rank returns the number of independent (unique) columns

import numpy as np

# --------------------------------------------------
# PART 1: Create a vector that IS in the column space
# --------------------------------------------------

# Create a random 4x3 matrix
A = np.random.randn(4, 3)

print("Matrix A:")
print(A)

# Compute the rank of A
rank_A = np.linalg.matrix_rank(A)
print("\nrank(A):", rank_A)

# Create a vector using A's columns
W = np.random.randn(3)
# This simulates creating a vector that is guaranteed to be in the column space of A,
# since it is formed by multiplying A by some weights W.
# In practice, we use A @ W to compute predictions, and compare them to real data that the model is trying to predict. But in this instance we are just using it to prove the point of our equation above.
v_in = A @ W

print("\nVector v_in (built from A):")
print(v_in)

# Add v_in as a new column and compute rank
rank_augmented_in = np.linalg.matrix_rank(np.column_stack((A, v_in)))

print("\nrank([A|v_in]):", rank_augmented_in)

# Test column space membership
if rank_A == rank_augmented_in:
    print("v_in IS in the column space of A")
else:
    print("v_in is NOT in the column space of A")


# --------------------------------------------------
# PART 2: Create a vector that is NOT in the column space
# --------------------------------------------------

# Create a completely random vector
# Lets say in this case the real data we are comparing doesn't match our models predictions at all
v_out = np.random.randn(4)

print("\nVector v_out (random):")
print(v_out)

# Add v_out as a new column and compute rank
rank_augmented_out = np.linalg.matrix_rank(np.column_stack((A, v_out)))

print("\nrank([A|v_out]):", rank_augmented_out)

# Test column space membership
if rank_A == rank_augmented_out:
    print("v_out IS in the column space of A")
else:
    print("v_out is NOT in the column space of A")

Matrix A:
[[ 0.66073512 -0.92115955 -1.27215867]
 [ 0.48843167 -0.52758592  0.53389651]
 [-0.69640509 -0.34141413  0.76719305]
 [-0.23494326 -0.01790819  0.80544357]]

rank(A): 3

Vector v_in (built from A):
[ 2.51298572 -0.12018703 -0.58387389 -0.97207962]

rank([A|v_in]): 3
v_in IS in the column space of A

Vector v_out (random):
[-1.05178653  0.55100738  1.12327575 -0.83092795]

rank([A|v_out]): 4
v_out is NOT in the column space of A

## AI Transparency Statement

AI tools were used to assist with grammar correction, formatting, and the creation of example datasets for demonstration purposes. All concepts, interpretations, and final content were created by me.